<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Lyrix.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7842EC962D16C9C3000D240B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7842ECA62D16C9C5000D240B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7842ECB02D16C9C5000D240B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
